@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap');

@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

@font-face {
  font-family: 'Franklin Gothic Heavy Regular';
  src: local('Franklin Gothic Heavy Regular'),
    url('./fonts//Franklin\ Gothic\ Heavy\ Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Franklin Gothic';
  src: local('Franklin Gothic'),
    url('./fonts/FranklinGothic/FranklinGothicRegular/Franklin\ Gothic\ Regular.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Franklin Gothic Condensed';
  src: local('Franklin Gothic Condensed'),
    url('./fonts/FranklinGothic/FranklinGothicCondensed/Franklin\ Gothic\ Condensed.otf')
      format('opentype');
}

@font-face {
  font-family: 'Sprite';
  src: local('Sprite'),
    url('./fonts/Sprite/SpriteGraffiti-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Copperlate';
  src: local('Copperlate'),
    url('./fonts/Copperplate-Gothic-Std-32-BC.ttf') format('truetype');
}

@font-face {
  font-family: 'Chinook';
  src: local('Chinook'), url('./fonts/Chinook-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Handfine';
  src: local('Handfine'), url('./fonts/Handfine.otf') format('opentype');
}

@font-face {
  font-family: 'Handfine';
  src: local('Handfine'), url('./fonts/Handfine.otf') format('opentype');
}

@font-face {
  font-family: 'Nue-Gothic';
  src: local('Nue-Gothic'), url('./fonts/Nue-Gothic.ttf') format('truetype');
}

@font-face {
  font-family: 'Valenttiena';
  src: local('Valenttiena'), url('./fonts/Valenttiena.ttf') format('truetype');
}

@font-face {
  font-family: 'corp';
  src: local('corp'), url('./fonts/corp.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
#main {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Franklin Gothic';
  background-image: url('../public/mosaic.jpg');
  background-size: 200px;
  --main-yellow: #ffea6f;
  --main-red: #e9463a;
  --main-blue: #444f9d;
  --main-orange: #fdc76a;
}

footer {
  font-family: 'Chinook';
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: calc(50% - 100px);
  top: 84vh;
  img {
    width: 40px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text-box {
  z-index: 100000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  input {
    height: 2.5rem;
    border-radius: 5px;
    -webkit-appearance: none;
    outline: none;
    box-shadow: none !important;
    border: none;
    padding: 1rem;
  }
}

.text-wrapper {
  right: -6rem;
  width: 200px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 1s ease 0.3s forwards;
}
.header-container {
  position: absolute;
  z-index: 1000;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px;
  align-items: center;
  z-index: 1000;
}

header p {
  font-weight: bold;
  font-size: 0.8rem;
  transition: all 1.2s ease-out;
}

header p.hidden {
  opacity: 0;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.section--container {
  margin-top: 5vh;
  margin-right: 20vw;
  /* margin-left: 5vw; */
}

.section--container.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.section--container h1 {
  font-weight: 900;
  font-size: 13rem;
  letter-spacing: -6px;
  font-style: italic;
  width: 30%;
  line-height: 10rem;
  font-family: 'Nunito Sans', sans-serif;
}

.support--content {
  position: relative;
  top: -25%;
  left: 300px;
}

.support--content p {
  width: 350px;
  margin-bottom: 48px;
  line-height: 1.5rem;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

button {
  background-color: var(--main-red);
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bolder;
  pointer-events: all;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: inset 0 0 0 0.09px black;

  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 30px;
}

button:hover {
  box-shadow: inset 250px 0 0 0 var(--main-blue);
  transform: scale(1.1);
}

/* CUSTOMIZER */

.customizer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 25px;
}

.customizer span {
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.customizer span svg {
  width: 24px;
  padding-right: 5px;
}

.share {
  bottom: 40px;
  position: absolute;
  right: 40px;
}

.zoom {
  position: absolute;
  right: 20px;
  top: 50%;
  color: #00000056;
  font-size: 0.6rem;
  border: 1px solid #00000000;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: border, color 1s ease;
}

.zoom:hover {
  color: black;
}

/* PICKER */

.picker {
  position: absolute !important;
  bottom: 4em;
  left: 50%;
  transform: translateX(-50%);
  width: 120px !important;
  height: 120px !important;
}

.color-options {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  transition: transform 0.6s cubic-bezier(0.85, 0, 0.15, 1);
}

.circle:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.decals {
  position: absolute;
  left: 50px;
  bottom: 40px;
}

.decals p {
  font-family: 'Inter var';
  font-size: 0.7rem;
  padding-bottom: 15px;
}

.decals img {
  width: 24px;
  filter: saturate(0) invert(1) brightness(5.5);
  transition: all 0.2s ease-in-out;
}

.decals img:hover {
  filter: none;
  transform: scale(1.2);
  cursor: pointer;
}

.decals--position {
  position: absolute;
  left: 20px;
  top: 50%;
  color: #00000056;
  font-size: 0.6rem;
  border: 1px solid #00000000;
  padding: 10px 10px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  transition: border 1s ease;
}

.decals--position:hover {
  color: black;
  border: 1px solid #00000056;
}

.upload {
  margin-top: -5px;
  cursor: pointer;
}

.upload:hover {
  color: white;
}

.decals--container {
  display: flex;
  gap: 20px;
}

.exit {
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: black;
  box-shadow: inset 0 0 0 0.09px black;
}

.exit:hover {
  box-shadow: inset -250px 0 0 0 black;
}

button {
  z-index: 50000;
}

.group {
  width: 100px;
  width: fit-content;
}

.controls {
  display: flex;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin: 10px 0;
  font-family: monospace;
}

.state-title {
  color: #999;
  text-transform: uppercase;
}

.font-times {
  font-family: 'Times New Roman', Times, serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}
.font-sprite {
  font-family: 'Sprite';
}
.font-chinook {
  font-family: 'Chinook';
}
.font-handfine {
  font-family: 'Handfine';
}
.font-nue-gothic {
  font-family: 'Nue-Gothic';
}
.font-copperlate {
  font-family: 'Copperlate';
}
.font-valenttiena {
  font-family: 'Valenttiena';
}
.font-corp {
  font-family: 'corp';
}

.font-10px {
  font-size: 10px;
}

.font-12px {
  font-size: 12px;
}

.font-14px {
  font-size: 14px;
}

.font-16px {
  font-size: 16px;
}
.font-20px {
  font-size: 20px;
}
.font-24px {
  font-size: 24px;
}
.font-28px {
  font-size: 28px;
}
.font-40px {
  font-size: 40px;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  padding: 1rem;
  cursor: pointer;
  z-index: 1000;
}

.tab {
  background-color: var(--main-blue);
  padding: 20px 30px;
  border-radius: 50px;
  color: white;
}

.inverted-tab {
  background-color: var(--main-red);
}

.selected-tab {
  background-color: var(--main-red);
}

.selected-tab-blue {
  background-color: var(--main-blue);
}

.home-wrapper {
  height: 100vh;
}

.lato {
  font-family: 'Lato', sans-serif;
}
.patua {
  font-family: 'Patua One', cursive;
}
.yeseva {
  font-family: 'Yeseva One', cursive;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  h1 {
    font-size: 7rem;
    margin: 0;
    text-align: center;
  }
  h3 {
    font-size: 3rem;
    margin: 0;
    text-align: center;
  }
}

.home-content {
  background-image: url('../public/mosaic.jpg');
  background-size: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90vh;
}

.semi-circle {
  width: 50%;
  height: 90vh;
  background-color: var(--main-orange);
  border-radius: 0rem 0rem 18rem 18rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 400px;
  }
}

.photo-box {
  position: relative;
}

.photo-portrait {
  width: 20rem;
  height: 25rem;
  background-color: white;
  background-image: url('../public/foto_chicos.jpeg');
  background-size: cover;
  border: 6px solid white;
  transform: rotate(2deg) !important;
}
.photo-portrait-text {
  font-family: 'Sprite';
  position: absolute;
  bottom: -8rem;
  text-shadow: 2px 1px 0px white;
  font-size: 67px;
  transform: rotate(-5deg);
  h3 {
    margin: 0;
  }
}
.business {
  font-family: 'Copperlate';
  transform: rotate(0) !important;
}

.photo-2 {
  background-image: url('../public/foto_chicos2.jpeg') !important;
  background-position-x: center;
  transform: rotate(-2deg) !important;
  position: relative;
}

.historia-wrapper {
  background-color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.presupuesto {
  margin-top: 16.625rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  p {
    font-size: 15px;
  }
}

.presupuesto-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  padding-bottom: 2rem;
}

.presupuesto-box {
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    margin-top: 0;
  }
}

.presupuesto-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.o {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color: var(--main-yellow);
}

.d {
  width: 12rem;
  height: 12rem;
  border-radius: 0rem 25rem 25rem 0rem;
  background-color: var(--main-red);
}

.u {
  width: 12rem;
  height: 12rem;
  border-radius: 25rem 25rem 0rem 0rem;
  background-color: lightgrey;
}

.box {
  width: 12rem;
  height: 12rem;
  background-color: var(--main-blue);
}

.row {
  display: flex;
  flex-direction: row;
}

.contacto-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  h3 {
    text-align: center;
  }
  p {
    font-weight: 300;
    font-size: 14px;
  }
}

.presupuesto-text {
  position: absolute;
  font-family: 'Handfine';
  font-weight: 300;
  font-size: 26px !important;
  right: -120px;
  transform: rotate(-8deg);
}

.presupuesto-hint {
  position: absolute;
  bottom: 8rem;
  background-color: var(--main-yellow);
  padding: 1rem 4rem;
  width: 30%;
  font-size: 12px;
}

.empty-third {
  width: 33%;
}

.presupuesto-images {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-table {
  border-collapse: collapse;
  /* background-color: #fcbad3; */
}

.price-table td {
  border: 2px solid black;
  padding: 0.625rem 3.125rem;
}

.price-table tr {
  height: 60px;
}

.productos-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.productos-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.productos-text {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--main-blue);
  color: white;
  padding: 5px 30px;

  h1 {
    font-family: 'Franklin Gothic Condensed';
    font-size: 2.5rem;
    margin: 0;
  }
  h2 {
    font-family: 'Copperlate';
    font-size: 1.875rem;
    margin: 0;
  }
  h3 {
    font-family: 'Handfine';
    margin: 0;
    font-size: 1.625rem;
    position: absolute;
    bottom: 0;
    right: -85px;
    transform: rotate(-8deg);
  }
  h5,
  p {
    font-size: 16px;
    font-family: 'Arial';
  }
}

.product-image {
  overflow: hidden;
  width: 18.75rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
  }
}

.remera {
  img {
    width: 80% !important;
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100vh;
}
.contacto-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0px 10rem;
  div {
    padding: 5rem;
    color: white;
    background-color: var(--main-blue);
    h1 {
      margin-top: 0;
    }
  }
  p {
    text-align: center;
  }
}

.contacto-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
}

/* COPIED */

h1 {
  text-align: center;
  margin-top: 50px;
}

.container {
  width: 90%;
  height: 500px;
  margin: 25px auto;
  background-color: #fff;
  display: flex;
  z-index: 3000;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 18px -7px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 2px 2px 18px -7px rgba(0, 0, 0, 0.48);
  box-shadow: 2px 2px 18px -7px rgba(0, 0, 0, 0.48);
}

.container .leftside,
.container .rightside {
  flex: 1;
  height: 100%;
}

.container .leftside {
  background-color: var(--main-blue);
  display: flex;
  height: auto;
}

/* leftside > sidebar */
.leftside .sidebar {
  width: 100px;
  border-right: 6px solid #9b9b9b;
}

.sidebar .sidebox {
  width: 100%;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #929393;
}

.sidebar .sidebox:hover,
.sidebar .sidebox.active {
  background-color: #353738;
  color: #fff;
}

.sidebox .icon {
  margin-bottom: 10px;
}

/* leftside > content */
.leftside .content {
  flex: 1;
  color: #fff;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

/* content > TextContent */
.content .add-txtbox-btn {
  width: 100%;
  background-color: #8b3dff;
  color: #fff;
  border-radius: 6px;
  padding: 14px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.content .default-txt-styles {
  color: #9b9b9b;
  margin-top: 30px;
}

.content .heading-btns-container {
  display: flex;
  flex-direction: column;
}

.heading-btns-container button {
  width: 100%;
  height: fit-content;
  border: none;
  outline: none;
  padding: 14px;
  cursor: pointer;
  background-color: #353738;
  color: #fdfdfd;
  margin: 10px 0;
  border-radius: 6px;
}

button.h1 {
  font-size: 32px;
  font-weight: 600;
}

button.h3 {
  font-size: 24px;
  font-weight: 600;
}

button.h6 {
  font-size: 14px;
  font-weight: 500;
}

/* content > search-input */
.content .search-input {
  width: 100%;
  padding: 14px;
  outline: none;
  border-radius: 6px;
  border: none;
  color: #6a6a6a;
  letter-spacing: 0.09em;
  margin: 10px 0;
}

/* content > recent-files-container */
.content .recent-files-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  margin-top: 15px;
}

.recent-files-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.recent-files-container::-webkit-scrollbar-thumb {
  background-color: #e1e1e9;
  border-radius: 3px;
}

.recent-files-container::-webkit-scrollbar-thumb:hover {
  background-color: #b1b1b9;
}

.recent-files-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.recent-files-container::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* recent-files-container > box (image tab) */
.recent-files-container .box {
  background-color: #353738;
  width: calc(33.33% - 10px);
  height: 110px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.box .drag-box {
  width: 100%;
  height: 100%;
}

.box .drag-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* upload tab */
.upload-img-btn {
  width: 100%;
  background-color: #8b3dff;
  color: #fff;
  border-radius: 6px;
  padding: 14px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}

.file-upload-input {
  display: none;
}

.recent-files-container .box-upload {
  background-color: #353738;
  width: calc(33.33% - 10px);
  height: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.box-upload .x-btn-div {
  width: 100%;
  padding: 7px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.x-btn-div .x-btn {
  color: #e1e1e9;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.box-upload .drag-box-upload {
  width: 100%;
  flex-grow: 1;
  min-height: 0;
}

.drag-box-upload img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* container > rightside */
.container .rightside {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rightside .btns-flex {
  width: 100%;
  display: flex;
}

.rightside button {
  padding: 14px;
  margin: 10px;
  width: fit-content;
  height: 30px;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

button.switch-btn {
  background-color: var(--main-red);
  color: #fff;
}

button.download-btn {
  border: 2px solid var(--main-red);
  color: var(--main-red);
  background-color: #fff;
}

.rightside .downloadable-area {
  width: 100%;
  flex-grow: 1;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.downloadable-area .main-img-div {
  max-width: 80%;
  /*max-height: 100%; */
  /* width: 40rem; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-img-div img {
  max-width: 100%;
  max-height: 100%;
  width: 90%;
  /* width: 40rem;
  height: auto; */
}

.drop-div {
  position: absolute;
  width: 30%;
  height: 25%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.drop-div.tshirt {
  top: 24%;
  left: 131px;
}

.drop-div.mug {
  top: 28%;
  left: 46%;
}

.drop-div img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.w-100 {
  width: 100%;
}
.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.photos-wrapper {
  display: flex;
  align-items: center;
  gap: 13rem;
}
.historia-main-content {
  width: 50%;
}
.historia-photo {
  width: 15rem;
}

.historia-content {
  justify-content: space-between;
}
.photo-right {
  display: flex;
  align-items: self-end;
  justify-content: flex-end;
}
.historia-photo-content-left {
  background-image: url('../public/foto_chicos3.jpeg');
  background-size: 200px;
  width: 12.5rem;
  height: 12.5rem;
  background-position-y: -22px;
  transform: rotate(-8deg);
  border: 6px solid rgb(242, 240, 236);
  border-radius: 1px;
  -webkit-box-shadow: 2px 2px 18px -7px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 2px 2px 18px -7px rgba(0, 0, 0, 0.48);
  box-shadow: 2px 2px 18px -7px rgba(0, 0, 0, 0.48);
}

.historia-photo-content-right {
  background-image: url('../public/foto_chicos4.jpeg');
  background-size: 200px;
  width: 12.5rem;
  height: 12.5rem;
  background-position-y: -70px;
  transform: rotate(8deg);
  border: 6px solid rgb(242, 240, 236);
  border-radius: 1px;
  -webkit-box-shadow: 2px 2px 18px -7px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 2px 2px 18px -7px rgba(0, 0, 0, 0.48);
  box-shadow: 2px 2px 18px -7px rgba(0, 0, 0, 0.48);
}

.about-us {
  h3 {
    color: var(--main-red);
    text-align: center;
    font-size: 20px;
    margin-bottom: 35px;
    font-family: 'Franklin Gothic Condensed';
  }
}

.compromise {
  h3 {
    color: var(--main-red);
    text-align: center;
    font-size: 20px;
    margin: 35px 0px;
    font-family: 'Franklin Gothic Condensed';
  }
  p {
    font-family: 'Arial';
  }
}

.bordado {
}

/* FONT COLOR */
.font-EFBD4E {
  color: #efbd4e;
}

.font-ccc {
  color: #ccc;
}
.font-80C670 {
  color: #80c670;
}
.font-726DE8 {
  color: #726de8;
}
.font-EF674E {
  color: #ef674e;
}
.font-353934 {
  color: #353934;
}

/* #MEDIA QUERYS */
@media screen and (max-width: 800px) {
  .home-wrapper {
    width: 100%;
    overflow-x: hidden;
  }
  .home-content {
    padding-top: 23rem;
  }
  .productos-wrapper {
    padding-top: 30rem;
  }
  .historia-wrapper,
  .productos-content {
    padding-top: 10rem !important;
  }
  .historia-wrapper {
    margin-bottom: 10rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .leftside .content {
    padding: 18px 25px;
  }
  .customizer {
    margin-bottom: 0;
  }
  .section--container {
    margin-left: 15vw;
  }

  .section--container h1 {
    font-size: 8rem;
    letter-spacing: -6px;
    line-height: 6rem;
  }

  .color-options {
    /* position: absolute;
    top: 8px;
    left: calc(50% - 120px); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .clothes-color {
    top: 222px;
    left: 0;
  }
  .text-box {
    width: 100%;
  }

  .header-wrapper {
    flex-wrap: wrap;
  }

  .productos-images {
    flex-direction: column;
  }
  .product-image {
    height: 17rem;
  }
  .contacto-wrapper {
    padding-top: 15rem;
    padding: 0;
    div {
      padding: 3rem;
    }
  }
  .presupuesto-wrapper {
    padding-top: 6rem;
  }
  .presupuesto-content {
    flex-direction: column;
    padding-bottom: 5rem;
  }
  .home-content {
    flex-direction: column;
  }
  .photos-wrapper {
    flex-direction: column;
    gap: 5rem;
  }

  ∫ .support--content {
    top: -10%;
    left: 0;
  }
}
